/* Form Styles
----------------------------------------*/

.ui {
    width: 250px;
    margin: auto;
    text-align: center;
}

fieldset {
    border: 0;
}


/* Button Styles
----------------------------------------*/

#btn,
#btn-second {
    width: 120px;
    height: 40px;
}

#btn {
    display: inline;
}

#btn-second {
    display: none;
}


/* Table Styles
----------------------------------------*/

#table-container {
    background-color: lightgrey;
    width: 200px;
    margin: auto;
    padding: 0 15px 15px 15px;
    display: none;
}

.table-header {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}

.table-body {
    border-collapse: collapse;
}

.table-body .set-width {
    width: 40px;
}

.row-highlight {
    background-color: grey;
}
