@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    padding: 40px;
}

h1,
h3 {
    font-family: 'Montserrat';
}

.container-album {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background: url('StadiumArcadium.jpg') no-repeat;
}

li {
    font-style: italic;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: yellow;
}

tbody {
    font-style: italic;
    background-color: lightblue;
}
