/* INDEXT CONTENT
----------------------------------------*/

.index-copy {
    max-width: 60%;
    margin-bottom: 25px;
}

@media (max-width: 1024px) {
    .index-copy {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    .index-copy {
        max-width: 100%;
    }
}


/* JUMBOTRON
----------------------------------------*/

.jumbotron {
    padding: 20px 10px 10px 10px;
}

.jumbotron .text-underline:hover {
    text-decoration: underline;
}


/* FOOTER
----------------------------------------*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
