html {
    font-size: 16px;
}

body {
    padding: 40px;
}

.div-center {
    text-align: center;
}


/*    LIST STYLES    */

ul {
    text-align: left;
}

li {
    font-style: italic;
}


/*    TABLE STYLES    */

.th-width {
    width: 60%;
}


/*    HEADING STYLES    */

h1 {
    font-size: 2.25rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}


/* target / context = result */
