@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
}


/*    HEADER    */

#header {
    text-align: center;
    height: 10%;
}

#header h1 {
    font-family: 'Slabo 27px';
}


/*    NAVBAR    */

#nav {
    margin: 15px 0;
    height: 2.5%;
}

#nav a {
    margin: 20px;
}

a:visited {
    color: red;
}

a:hover {
    font-weight: 900;
}

a:active {
    text-decoration: none;
}


/*    BODY    */

#content {
    text-align: center;
    height: 60%;
}


/*    FOOTER    */

#footer {
    text-align: center;
    height: 10%;
}
